/*
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
*/

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

html,
body {
  min-width: 100%;
  min-height: 100%;
}

body {
  background: #eeeeee;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

body,
input,
button {
  font: 1.5rem "", Arial, Helvetica, sans-serif;
  /* 15px - 'Montserrat' 'Open Sans' 'Roboto' */
}

li {
  list-style: none;
}

a:link {
  color: #7159c1;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
}
